/* https://bootsnipp.com/snippets/QXe5g */

.landing-parallax {
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/733852/pexels-photo-733852.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.navbar-brand {
  color: black;
}

a:hover {
  color: #58866b;
}

.site-title:hover {
  color: #477458;
}

.fa-sign-out-alt {
  margin-right: 5px;
}

.header-icon {
  margin-right: 2px;
}
